<%= form_tag({ controller: 'importer', action: 'import_file' }, multipart: true, class: 'import-form') do %>
  <h2 style="text-align: center;">Importador CNAB</h2>
  <div class="form-group">
    <%= label_tag :imported_file, 'Selecione um arquivo .txt' %>
    <%= file_field_tag :imported_file, accept: '.txt' %>
  </div>

  <div class="form-group btn-wrapper">
    <%= submit_tag 'Enviar', class: 'btn btn-primary' %>
  </div>
<% end %>


<hr>
<% @providers.each do |provider| %>
  <h2><%= provider.name_provider %></h2>
  <h3>Saldo em conta: R$ <%= provider.total_transaction_value %></h3>
  <table id="transactions">
    <tr>
      <th> ID </th>
      <th> Data </th>
      <th> Valor </th>
      <th> CPF </th>
      <th> Cartão </th>
      <th> Hora </th>
      <th> Dono da Loja </th>
      <th> Nome da Loja </th>
      <th> Descrição </th>
      <th> Natureza </th>
    </tr>
    <% provider.transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.date_register %></td>
      <td><%= transaction.value %></td>
      <td><%= "#{transaction.customer.cpf.first(3)}.***.***-#{transaction.customer.cpf.last(2)}"%></td>
      <td><%= transaction.card_number %></td>
      <td><%= transaction.hour_transaction %></td>
      <td><%= transaction.provider.name_owner %></td>
      <td><%= transaction.provider.name_provider %></td>
      <td><%= transaction.transaction_type %></td>
      <td><%= transaction.nature %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<style>
  #transactions {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px
  }

  #transactions td, #transactions th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #transactions tr:nth-child(even){background-color: #f2f2f2;}

  #transactions tr:hover {background-color: #ddd;}

  #transactions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .import-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="file"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  width: 100%;
}

.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-wrapper {
  text-align: end;
}

</style>

